.main-container {
  width: 75%;
  height: 700px;
  margin: 100px auto;
  overflow: hidden;
  /* padding-right: 15px; */
  /* rgb 255 */
  background-color: rgba(161, 160, 160, 0.185);
  box-shadow: 2px 6px 2px -2px grey;
  border-radius: 5px;
  padding-top: 10px;
  /* border: 3px solid thistle; */
}

.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* padding-right: 0px; */
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  /* height: 20vh; */
  /* border: 1px solid red; */
  /* margin: 1rem auto; */
}
.anchor {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.project-screenshot {
  display: flex;
  width: 100%;
  height: 500px;
  /* border: 1px solid seagreen; */
}

.screenshot {
  width: 98%;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  /* border: 1px solid yellow; */
  font-size: 1.2rem;
}

.project-paragraph {
  margin-left: 1rem;
  /* border: 3px solid midnightblue; */
  font-size: 1.1rem;
}

.code-links {
  display: flex;
  justify-content: center;
  /* border: 5px solid grey; */
}

@media only screen and (max-width: 575px) {
  #root {
    min-height: 100vh;
  }
  .project-container {
    margin: 0 auto;
  }
  .projects {
    width: 95vw;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    margin: 5px;
  }
  .project-screenshot {
    width: 100%;
  }

  .screenshot {
    height: 450px;
  }

  .project-info {
    width: 100%;
    flex-direction: column;
  }

  .project-paragraph {
    font-size: 0.7rem;
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }
}
