.home-container {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  margin: 15px auto;
  width: 85vw;
}

.headshot-img {
  height: 400px;
  width: 500px;
  align-self: center;
  border-radius: 120px;
}

.contact {
  display: flex;
  /* flex-direction: column; */
  /* border: 4px solid greenyellow; */
  justify-content: center;
  margin: 4rem auto;
  justify-content: space-evenly;
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .home-container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .headshot-img {
    width: 80%;
    height: 200px;
    border-radius: 0px;
    margin: 5px auto;
  }

  .portfolio-link h2 {
    /* border: 5px solid salmon; */
    font-size: 14px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }
}
