.project-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid royalblue;
  height: 100%;
  margin: 3rem auto;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80vw;
  height: 20vh;
  border: 1px solid red;
  margin: 1rem auto;
}
.anchor {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-screenshot {
  display: flex;
  width: 40%;
  border: 1px solid seagreen;
}

.screenshot {
  width: 100%;
}

.project-info {
  display: flex;
  width: 60%;
  border: 1px solid yellow;
}

.project-paragraph {
  margin-left: 1rem;
}
